<h3>Sorteio</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="Sorteio" entity="api/rest/Sorteio" keys="id" rows-per-page="100" delete-message="Deseja remover?" class="" on-before-update="app.userEvents.sorteioDatasourceOnBeforeUpdate(event)"></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Sorteio.startInserting()" ng-hide="Sorteio.inserting || Sorteio.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
  <button class="btn btn-primary" type="button" onclick="" ng-click="testeSorteio()"><i class="fa fa-user"></i> <span class=""> Teste</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-Sorteio"> 
  <div crn-datasource="Sorteio" class="" ng-hide="Sorteio.editing || Sorteio.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Id</div>
          </th> 
          <th class=""> 
            <div class="">Prêmio</div>
          </th> 
          <th class=""> 
            <div class="">Sorteado em</div>
          </th> 
          <th class=""> 
            <div class="">Premiado</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.premio}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">
                {{ rowData.sorteadoEm | date : 'dd/MM/yyyy' }}
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.aluno.nome}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
              <button ng-disabled="rowData.aluno" class="btn btn-default btn-sm" type="submit" ng-click="realizarSorteio(rowData)"><i class="fa fa-random"></i> Sortear</button> 
              <button ng-disabled="!rowData.aluno" class="btn btn-default btn-sm" type="submit" ng-click="resetSorteio(rowData)"> Reset</button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-Sorteio"> 
  <div class="form" ng-show="Sorteio.editing || Sorteio.inserting"> 
    <form crn-datasource="Sorteio" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting" class=""> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-premio"> 
          <div class="form-group"> 
            <label for="textinput-premio" class="">Prêmio</label> 

        <input type="text" ng-model="Sorteio.active.premio" class="form-control" id="textinput-premio" placeholder="Prêmio" required="required"><div class="component-holder ng-binding ng-scope" data-component="crn-combobox" id="crn-combobox-857733"><div class="component-holder ng-binding ng-scope" data-component="crn-datasource" id="crn-datasource-236056"><datasource name="Aluno" entity="api/rest/Aluno" keys="" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill=""></datasource></div><div class="form-group">
	<label for="" class="">Premiado</label>
	<ui-select crn-datasource="Aluno" ng-model="Sorteio.active.aluno" ng-disabled="disabled" theme="bootstrap" class="crn-select"> 
    <ui-select-match placeholder="Select..." class="">
       {{$select.selected.nome}} 
    </ui-select-match> 
    <ui-select-choices repeat="rowData in datasource.data | filter: $select.search" class=""> 
      <div class="" data-container="true">{{rowData.nome}}</div> 
    </ui-select-choices> 
  </ui-select>
</div></div> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-sorteadoEm"> 
           
        </div> 
        <div class=""></div> 
         
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
<div class="modal fade" id="premiadoModal">
	<div class="modal-dialog">
		<div class="modal-content">
  			<div class="component-holder modal-header">
				<div data-container="true" class="">Premiado</div>
			</div>
 			<div class="modal-body">
				<div data-container="true" class="">
				    <h1>{{premiado.nome}}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
